.create {
margin: 0 auto;
text-align: center;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 50px;
padding-top: 10px;
background-color: white;
width:fit-content;
min-width: 10cm;
border-radius: 10px;
}
.create label {
 text-align: left;
 display: block;
}

.create h2 {
 font-weight: 550;
 font-size: 25px;
 color: red;
 margin-bottom: 30px;  
 font-family: 'Courier New', Courier, monospace;
 font-size: 167.5%; 
}



