.create {
max-width: 400px;
margin: 0 auto;
text-align: center;
padding-bottom: 50px;
}
.create label {
 text-align: left;
 display: block;
}

.create h2 {
 font-weight: 200;
 font-size: 25px;
 color: red;
 margin-bottom: 30px;   
}



