.home {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
    width: fit-content;
    }

    .home > img{
        max-width: 100%;
        border-radius: 20px;
        outline-color: white;
        outline-width: 10px;
        outline-style: solid;
    }