

   button{
    padding: 8px;
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    margin: 5px;
    border: 2px solid red;
    background-color: white;
    border-radius: 10px;
    transition: 200ms ease-in;
    color: red;
    min-width: 4cm;
}   

button:hover{
    background: red;
    color: white;
}