.card{
    overflow: hidden;
    box-shadow:0 2px 20px gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 200ms ease-in;
    background-color: rgba(255, 255, 255, 0.8);
}

.body{
    font-family: Arial, sans-serif;
    margin: 10px;
}

.image{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.id{
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    text-align: left;
    margin: 5px;
    font-size: 17px;
    font-weight: lighter;
    width: 100%;
}

.name{
    padding: 0 5px;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: lighter;
    text-align: left;
    width: 100%;
    margin: 10px;
}

.type{
    padding: 0 5px;
}

.btn{
    padding: 10px;
    font-family: inherit;
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
    border: 2px solid red;
    background-color: transparent;
    border-radius: 20px;
    transition: 200ms ease-in;
    color: red;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: .5px;
}

.card:hover{
    transform: scale(1.02);
}

.btn:hover{
    background: red;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: .5px;
}