.datasheet{
    height: 100%;
    width: 80%;
    min-height: 15cm;
    overflow: hidden;
    box-shadow:0 2px 20px gray;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    transition: 200ms ease-in;
    background-color: rgba(255, 255, 255, 0.7);
    gap: 5px;
    font-family: Arial, sans-serif;
    flex-wrap: wrap;
}

.square{
    background-color: rgba(255, 255, 255, 0.5);
    min-width: 350px;
    max-width: 700px;
   

}
.line{
    color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
}

.image{
    margin: 10px;
    height: 90%;
    width: 100%;
    min-width: 5cm;
    min-height: 5cm;
    object-fit: cover;
    
}

.number{
    padding: 20px;
    color: gray;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    text-align: left;
    margin: 5px;
    font-weight: lighter;
    width: 100%;
}

.name{
    padding: 10px;
    color:grey;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: left;
    width: 100%;
    margin: 5px;
}

.type{
    padding: 0 10px;
    color:white;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: .5px;
    font-weight: bolder;
    float: left;
}
.stat-grid {
    display: grid;
    grid-template-columns: fit-content(220px) auto;
}
.stats{
    margin: 5px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300px;
    font-size: 20px;
    background-color: transparent;
    color: gray;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: .5px;
    text-align: left;
    text-transform: capitalize;

}

.size{
    margin: 5px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 21px;
    background-color: transparent;
    color: rgb(100, 98, 98);
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px;
    text-align: center;
    float: left;
}