.container {
    width: 80%;
    background-color: rgb(230, 225, 225);
    height: 8px;
    border-radius: 5px;
    margin: 10px;
    padding: 1px;
}

.bar {
    background-color: white;
    border-radius: 4px;
    height: 100%;
}

.bar.bug{
    background-color: rgb(11, 155, 11);
}
.bar.dark{
    background-color: rgb(81, 84, 81);
}
.bar.dragon{
    background-color: rgb(117, 191, 190);
}
.bar.electric{
    background-color: rgb(245, 238, 108);
}
.bar.fairy{
    background-color: pink;
}
.bar.fighting{
    background-color: rgb(221, 149, 14);
}
.bar.fire{
    background-color: rgb(240, 92, 18);
}
.bar.flying{
    background-color: rgb(154, 186, 246);
}
.bar.ghost{
    background-color: rgb(133, 90, 170);
}
.bar.grass{
    background-color: rgb(117, 191, 117);
}
.bar.ground{
    background-color: rgba(189, 95, 63, 0.614);
}
.bar.ice{
    background-color: rgb(120, 218, 248);
}
.bar.normal{
    background-color: rgb(228, 230, 234);
}
.bar.poison{
    background-color: rgb(225, 104, 229);
}
.bar.psychic{
    background-color: rgb(238, 108, 171);
}
.bar.rock{
    background-color: rgb(84, 98, 84);
}
.bar.steel{
    background-color: rgb(160, 167, 192);
}
.bar.water{
    background-color: rgb(98, 223, 248);
}